
/* Đổi màu chữ bên trong MenuButton thành trắng */
.user-menu-btn .label {
    -fx-text-fill: white;
}
.user-menu-btn .arrow {
    -fx-background-color: white;
}
.root {
    -fx-font-family: "Segoe UI", sans-serif;
}
/* Đổi màu chữ của các mục xổ xuống (MenuItem) thành đen */
.user-menu-btn .menu-item .label {
    -fx-text-fill: black;
}
/* CARD */
.card {
    -fx-background-color: white;
    -fx-background-radius: 15;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.08), 10, 0, 0, 3);
}

/* BUTTON */
.button {
    -fx-cursor: hand;
    -fx-background-radius: 20;
}

.button:hover {
    -fx-opacity: 0.85;
}

/* PRICE */
.price {
    -fx-text-fill: #28a745;
    -fx-font-weight: bold;
}

/* STATUS */
.status-running {
    -fx-background-color: #e6f4ea;
    -fx-text-fill: #28a745;
    -fx-padding: 4 10;
    -fx-background-radius: 10;
}

/* ERROR */
.error {
    -fx-text-fill: #e74c3c;
}

/* CHART */
.chart-series-line {
    -fx-stroke-width: 2px;
}
/* Style mặc định cho nút Sidebar */
.sidebar-button {
    -fx-background-color: transparent;
    -fx-text-fill: #555555;
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-transition: 0.3s; /* Hiệu ứng chuyển màu mượt */
}

/* Hiệu ứng khi di chuột qua (Hover) */
.sidebar-button:hover {
    -fx-background-color: #f0f2f5;
    -fx-text-fill: #28a745;
}

/* Style cho nút đang được chọn (Active) */
.sidebar-active {
    -fx-background-color: #d4edda;
    -fx-text-fill: #28a745;
    -fx-background-radius: 10;
}

/* --- PIE CHART COLORS --- / */
.default-color0.chart-pie { -fx-pie-color: #3498db; }
.default-color1.chart-pie { -fx-pie-color: #f39c12; }
.default-color2.chart-pie { -fx-pie-color: #2ecc71; }
.default-color3.chart-pie { -fx-pie-color: #e74c3c; }
.default-color4.chart-pie { -fx-pie-color: #f75454; }
.default-color5.chart-pie { -fx-pie-color: #34495e; }

.chart-pie {
    -fx-border-color: transparent;
}

.default-color0.chart-bar {
    -fx-bar-fill: #3498db;
}

.default-color1.chart-bar {
    -fx-bar-fill: #f39c12;
}
.chart-bar {
    -fx-background-radius: 5 5 0 0;
}
